body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px;
    margin: 0px;
}
.banner{
    width: 100%;
}
.content{
    background: rgb(255,225,175);
    background: linear-gradient(180deg, rgba(255,225,175,1) 0%, rgba(182,182,255,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    border: 0px solid;
    padding: 20px;
    box-shadow: 5px 10px #888888;
}
a{
    color: rgb(0, 119, 255);
}
